/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga');
@import url('https://fonts.googleapis.com/css?family=Albert+Sans');

/*Global*/
#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 40px;
  background-color: #f9f5f2 !important;
}

h1 {
  font-family: 'Lexend Giga', sans-serif !important;
  font-size: 67px;
  color: #20204B;
}

h2 {
  font-family: 'Lexend Giga', sans-serif !important;
  font-size: 30px;
  color: #20204B;
}

p {
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px;
  color: #20204B;
}

.white-p {
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px;
  color: #f9f5f2;
}

/*NavBar*/ 
nav.navbar {
  padding: 10px 0;
  z-index: 9999;
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px !important;
  color: #20204B !important;
  background-color: #f9f5f2;
}

.design-value {
  background-color: #EAA738;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center; 
  justify-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.development-value {
  background-color: #354A9B;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center; 
  justify-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.illustration-value {
  background-color: #BC402F;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center; 
  justify-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.project-card {
  align-items: center;
  padding: 1rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.icon-overlay {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.4rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.overlay-icon {
  width: 35px;
  height: 35px;
}

a {
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px;
  color: #20204B;
}
