/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga');
@import url('https://fonts.googleapis.com/css?family=Albert+Sans');

/*Global*/
#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-y: auto;
}

body {
  background-color: #F9F2ED !important;
  height: 100%;
  overflow-y: auto;
}

h1 {
  font-family: 'Lexend Giga', sans-serif !important;
  font-size: 67px;
  color: #20204B;
}

h2 {
  font-family: 'Lexend Giga', sans-serif !important;
  font-size: 30px;
  color: #20204B;
}

p {
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px;
  color: #20204B;
}

/*NavBar*/ 
nav.navbar {
  background-color: #F9F2ED !important;
  padding: 10px 0;
  z-index: 9999;
  font-family: 'Albert Sans', sans-serif !important;
  font-size: 20px !important;
  color: #20204B !important;
}